In [1]:
from deta import Deta
import pandas as pd
import json
from pandas import json_normalize
from collections import Counter

In [2]:
DETA_KEY = "c0jo61nr_BhSm5qHprUP75vRSdEmumYfoS1KMCtQW"

# Initialize with a project key
deta = Deta(DETA_KEY)

# This is how to create/connect a database
db = deta.Base("utilities_reports")

In [3]:
def insert_period(period, e_usages, e_costs, w_usages, w_costs, digi_zahirs, digi_anis, 
                  streamyxs, comment):
    """Returns the user on a successful user creation, otherwise raises and error"""
    return db.put({"key": period, "e_usage": e_usages, "e_cost": e_costs, 
                   "w_usage": w_usages, "w_cost": w_costs, "digi_zahir": digi_zahirs, 
                   "digi_ani": digi_anis, "streamyx": streamyxs, "comment": comment})

def fetch_all_periods():
    """Returns a dict of all periods"""
    res = db.fetch()
    return res.items


def get_period(period):
    """If not found, the function will return None"""
    return db.get(period)

In [4]:
# Example Data
#period = "2014_December"
#comment = ""
#e_usages = {"kWh": 337}
#e_costs = {"RM_e": 86.34}
#w_usages = {"m3": 0}
#w_costs = {"RM_w": 0}
#digi_zahirs = {"RM_d1": 0}
#digi_anis = {"RM_d2": 0}
#streamyxs = {"RM_s": 0}
#insert_period(period, e_usages, e_costs, w_usages, w_costs, digi_zahirs, digi_anis, streamyxs, comment)

In [5]:
r = db.get('2022_January').values()
r

dict_values(['', {'RM_d2': 20}, {'RM_d1': 30}, {'RM_e': 102}, {'kWh': 359}, '2022_January', {'RM_s': 147}, {'RM_w': 4}, {'m3': 24}])

In [6]:
#total_e_usage = sum([sum(entry['e_usage'].values()) for entry in entries])
#total_e_cost = sum([sum(entry['e_cost'].values()) for entry in entries])
#total_w_usage = sum([sum(entry['w_usage'].values()) for entry in entries])
#total_w_cost = sum([sum(entry['w_cost'].values()) for entry in entries])

In [25]:
entries = fetch_all_periods()
df = json.dumps(entries)
df = pd.read_json(df)
df['key'] = df['key'].str.replace('_','/')
#df['key'] = df['key'].str.replace('_',' ')
#df_1 = df['key'].str.split(' ', 1, expand=True)
#df = pd.concat([df,df_1],axis=1)
#df = df[['digi_ani','digi_zahir','e_cost','e_usage','streamyx','w_cost','w_usage',0,1]]
#df = df.rename(columns={0:'year',1:'month'})
#df_2023 = df[df.year == '2023']
#df_2022 = df[df.year == '2022']
#df_2022
df

,comment,digi_ani,digi_zahir,e_cost,e_usage,key,streamyx,w_cost,w_usage
0,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 64.64},{'kWh': 263},2014/April,{'RM_s': 0},{'RM_w': 0},{'m3': 0}
1,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 66.31},{'kWh': 268},2014/August,{'RM_s': 0},{'RM_w': 0},{'m3': 0}
2,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 86.34},{'kWh': 337},2014/December,{'RM_s': 0},{'RM_w': 0},{'m3': 0}
3,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 70.56},{'kWh': 288},2014/February,{'RM_s': 0},{'RM_w': 0},{'m3': 0}
4,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 63.98},{'kWh': 261},2014/January,{'RM_s': 0},{'RM_w': 0},{'m3': 0}
...,...,...,...,...,...,...,...,...,...
97,,{'RM_d2': 20},{'RM_d1': 30.53},{'RM_e': 83.85},{'kWh': 323},2022/February,{'RM_s': 147.35},{'RM_w': 2.06},{'m3': 22}
98,,{'RM_d2': 20},{'RM_d1': 30},{'RM_e': 102},{'kWh': 359},2022/January,{'RM_s': 147},{'RM_w': 4},{'m3': 24}
99,,{'RM_d2': 20},{'RM_d1': 40},{'RM_e': 123.65},{'kWh': 402},2022/June,{'RM_s': 147.35},{'RM_w': 13.4},{'m3': 33}
100,,{'RM_d2': 20.1},{'RM_d1': 30.45},{'RM_e': 114.6},{'kWh': 384},2022/March,{'RM_s': 147.35},{'RM_w': 7.2},{'m3': 27}
101,,{'RM_d2': 20},{'RM_d1': 30},{'RM_e': 71},{'kWh': 300},2022/May,{'RM_s': 147.35},{'RM_w': 1.05},{'m3': 21}

In [26]:
df['key']= pd.to_datetime(df['key'])
df_2020 = df[(df['key'] >= "2020-01-01") & (df['key'] <="2020-12-01")]
df_2020 = df_2020.sort_values(by='key')
df_2020

,comment,digi_ani,digi_zahir,e_cost,e_usage,key,streamyx,w_cost,w_usage
76,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 107.05},{'kWh': 355},2020-01-01,{'RM_s': 147.35},{'RM_w': 0},{'m3': 8}
75,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 85.55},{'kWh': 314},2020-02-01,{'RM_s': 147.35},{'RM_w': 0},{'m3': 8}
79,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 104.45},{'kWh': 350},2020-03-01,{'RM_s': 147.35},{'RM_w': 6},{'m3': 8}
72,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 96.35},{'kWh': 350},2020-04-01,{'RM_s': 147.35},{'RM_w': 6},{'m3': 9}
80,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 88.8},{'kWh': 350},2020-05-01,{'RM_s': 147.35},{'RM_w': 11.4},{'m3': 20}
78,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 164.4},{'kWh': 1221},2020-06-01,{'RM_s': 147.35},{'RM_w': 12.45},{'m3': 21}
77,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 112.1},{'kWh': 368},2020-07-01,{'RM_s': 147.35},{'RM_w': 15.5},{'m3': 24}
73,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 99.7},{'kWh': 344},2020-08-01,{'RM_s': 147.35},{'RM_w': 17.6},{'m3': 26}
83,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 107.96},{'kWh': 360},2020-09-01,{'RM_s': 147.35},{'RM_w': 15.5},{'m3': 24}
82,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 82.55},{'kWh': 336},2020-10-01,{'RM_s': 147.35},{'RM_w': 15.5},{'m3': 24}
81,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 107.05},{'kWh': 391},2020-11-01,{'RM_s': 147.35},{'RM_w': 11.4},{'m3': 20}
74,,{'RM_d2': 0},{'RM_d1': 0},{'RM_e': 84.8},{'kWh': 341},2020-12-01,{'RM_s': 147.35},{'RM_w': 18.6},{'m3': 27}

In [41]:
df_ecost_2020 = df_2020['e_cost'].map(Counter).groupby(df_2020['key']).sum().reset_index()
df_ecost_2020 = df_ecost_2020['e_cost'].apply(lambda x: x.get('RM_e')).dropna()
df_ecost_2020

0     107.05
1      85.55
2     104.45
3      96.35
4      88.80
5     164.40
6     112.10
7      99.70
8     107.96
9      82.55
10    107.05
11     84.80
Name: e_cost, dtype: float64